@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;

  padding-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.grid .card {
  transition: 0.2s;
}

.grid .card:hover {
  background: #aaa;
  transform: scale(1.05);
  cursor: pointer;
}

.spinner {
  height: 50vh;
}

.icon {
  position: absolute;
  top: 85px;
  left: 10px;
}

.icon ul li {
  list-style: none;
}

.icon ul li a {
  font-size: 1.2rem;
}

.icon ul li:nth-child(1) a {
  color: black;
}

.icon ul li:nth-child(3) a {
  color: brown;
}

.repos {
  overflow-y: scroll;
  height: 20vh;
}

.repos::-webkit-scrollbar {
  color: #000;
}

/* .main-spinner {
  position: fixed;
  height: 100vh;
} */
/* 
.main-spinner_item {

} */
